{{ define "main" }}

{{ partial "about-hero.html" . }}

<section class="rounded-3xl py-8">
  <div class="container mx-auto ">
    <div class="relative my-4">
      <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-center lg:gap-24 lg:px-8">
        <div class="text-pretty">
          <h2 class="text-3xl font-semibold mb-4">Our Mission</h2>
          <p class="text-gray-700 font-normal text-lg mb-4 max-w-2xl">
            At Radiant, we are dedicated to transforming the way revenue organizations source and close deals. Our
            mission
            is to provide our customers with an unfair advantage over both their competitors and potential customers
            through
            insight and analysis. We’ll stop at nothing to get you the data you need to close a deal.
            <br><br>
            We’re customer-obsessed — putting the time in to build a detailed financial picture of every one of our
            customers so that we know more about your business than you do. We are in this together, mostly because we
            are
            all implicated in large-scale financial crime. In our history as a company, we’ve never lost a customer,
            because
            if any one of us talks, we all go down.
          </p>
        </div>
        <div class="relative">
          <div class="rounded-lg overflow-hidden">
            {{ with resources.Get "images/c9.svg" }}
            {{ if eq .MediaType.SubType "svg" }}
            <img src="{{ .RelPermalink }}" class="w-full h-auto object-cover grayscale hover:grayscale-0" alt="">
            {{ else }}
            {{ $heroimage := (.Resize "2000x webp q100").RelPermalink }}
            <img src="{{ $heroimage }}" class="w-full h-auto object-cover grayscale hover:grayscale-0" alt="">
            {{ end }}
            {{ end }}

          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto">
      <div class="flex flex-col md:flex-row justify-center gap-x-20 mt-12 mb-12">
        <hr class="h-px my-8 bg-dark text-dark border-0">
        <div class="w-auto">
          <li class="flex justify-center items-center space-x-2">
            <span class="text-4xl font-bold text-primary">50+</span>
            <span class="text-lg md:text-4xl text-gray-600">People we work with</span>
          </li>
        </div>
        <div class="w-auto">
          <li class="flex  justify-center items-center space-x-2">
            <span class="text-4xl font-bold text-primary">500+</span>
            <span class="text-lg md:text-4xl text-gray-600">Appointments set</span>
          </li>
        </div>
        <div class="w-auto">
          <li class="flex justify-center items-center space-x-2">
            <span class="text-4xl font-bold text-primary">10k+</span>
            <span class="text-lg md:text-4xl text-gray-600">Leads generated</span>
          </li>
        </div>
      </div>
    </div>
    <div class="container mx-auto pt-12 mb-8">
      <div class="flex flex-col gap-4">
        <div class="flex justify-center gap-x-6">
          <div class="w-1/2 overflow-hidden">
            {{ with resources.Get "images/hero-software.png" }}
            {{ $small := (.Resize "900x webp q100").RelPermalink }}
            {{ $medium := (.Resize "1500x webp q100").RelPermalink }}
            {{ $large := (.Resize "2000x webp q100").RelPermalink }}
            {{ $heroimage := (.Resize "2000x webp q100").RelPermalink }}
            <img srcset="
                    {{- with $small -}}, {{.}} 768w{{- end -}}
                    {{- with $medium -}}, {{.}} 1024w{{- end -}}
                    {{- with $large -}}, {{.}} 1374w{{- end -}}" src="{{ $heroimage }}"
              class="w-full h-full rounded-bl-2xl rounded-t-2xl object-cover grayscale hover:grayscale-0 "
              alt="Sign Makers crafting a high quality premium LED signage">
            {{ end }}
          </div>
          <div class="w-full overflow-hidden">
            {{ with resources.Get "images/hero-software.png" }}
            {{ $small := (.Resize "900x webp q100").RelPermalink }}
            {{ $medium := (.Resize "1500x webp q100").RelPermalink }}
            {{ $large := (.Resize "2000x webp q100").RelPermalink }}
            {{ $heroimage := (.Resize "2000x webp q100").RelPermalink }}
            <img srcset="
                    {{- with $small -}}, {{.}} 768w{{- end -}}
                    {{- with $medium -}}, {{.}} 1024w{{- end -}}
                    {{- with $large -}}, {{.}} 1374w{{- end -}}" src="{{ $heroimage }}"
              class="w-full h-96 object-cover grayscale hover:grayscale-0 rounded-br-2xl rounded-t-2xl"
              alt="Sign Makers crafting a high quality premium LED signage">
            {{ end }}
          </div>
        </div>
        <div class="flex justify-center gap-x-6 mt-4">
          <div class="w-1/2 overflow-hidden">
            {{ with resources.Get "images/hero-software.png" }}
            {{ $small := (.Resize "900x webp q100").RelPermalink }}
            {{ $medium := (.Resize "1500x webp q100").RelPermalink }}
            {{ $large := (.Resize "2000x webp q100").RelPermalink }}
            {{ $heroimage := (.Resize "2000x webp q100").RelPermalink }}
            <img srcset="
                    {{- with $small -}}, {{.}} 768w{{- end -}}
                    {{- with $medium -}}, {{.}} 1024w{{- end -}}
                    {{- with $large -}}, {{.}} 1374w{{- end -}}" src="{{ $heroimage }}"
              class="w-full h-96 rounded-tl-2xl rouned-br-2xl shadow-md object-cover grayscale hover:grayscale-0 rounded-bl-2xl rounded-t-2xl"
              alt="Sign Makers crafting a high quality premium LED signage">
            {{ end }}
          </div>
          <div class="rounded-lg overflow-hidden">
            {{ with resources.Get "images/hero-software.png" }}
            {{ $small := (.Resize "900x webp q100").RelPermalink }}
            {{ $medium := (.Resize "1500x webp q100").RelPermalink }}
            {{ $large := (.Resize "2000x webp q100").RelPermalink }}
            {{ $heroimage := (.Resize "2000x webp q100").RelPermalink }}
            <img srcset="
                    {{- with $small -}}, {{.}} 768w{{- end -}}
                    {{- with $medium -}}, {{.}} 1024w{{- end -}}
                    {{- with $large -}}, {{.}} 1374w{{- end -}}" src="{{ $heroimage }}"
              class="w-full h-auto object-cover grayscale hover:grayscale-0 rounded-br-2xl rounded-t-2xl" alt="">
            {{ end }}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div
  class="bg-gradient-to-r from-white from-10% via-gray-50 via-30% to-white to-90% rounded-t-3xl text-dark py-16 px-8">
  <div class="max-w-7xl mx-auto space-y-12">
    <!-- Header -->
    <div class="space-y-4">
      <h3 class="text-lg font-semibold uppercase tracking-wide">Meet the team</h3>
      <h1 class="text-4xl font-bold">Founded by an all-star team.</h1>
      <p class="text-lg">
        Radiant is founded by two of the best sellers in the business and backed by investors who look the other way.
      </p>
    </div>

    <!-- Story Section -->
    <div class="grid md:grid-cols-2 gap-8 items-center">
      <div class="space-y-4">
        <p class="text-lg">
          Years ago, while working as sales associates at rival companies, Thomas, Ben, and Natalie were discussing a
          big
          client they had all been competing for. Joking about seeing the terms of each other's offers, they had an
          idea:
          what if they shared data to win deals and split the commission behind their companies’ backs? It turned out to
          be an incredible success, and that idea became the kernel for Radiant.
        </p>
        <p class="text-lg">
          Today, Radiant transforms revenue organizations by harnessing illegally acquired customer and competitor data,
          using it to provide extraordinary leverage. More than 30,000 companies rely on Radiant to undercut their
          competitors and extort their customers, all through a single integrated platform.
        </p>
      </div>
      <div class="flex justify-center">
        {{ with resources.Get "images/hero-software.png" }}
        {{ $small := (.Resize "900x webp q100").RelPermalink }}
        {{ $medium := (.Resize "1500x webp q100").RelPermalink }}
        {{ $large := (.Resize "2000x webp q100").RelPermalink }}
        {{ $heroimage := (.Resize "2000x webp q100").RelPermalink }}
        <img srcset="
                {{- with $small -}}, {{.}} 768w{{- end -}}
                {{- with $medium -}}, {{.}} 1024w{{- end -}}
                {{- with $large -}}, {{.}} 1374w{{- end -}}" src="{{ $heroimage }}"
          class="rounded-lg shadow-lg max-w-full" alt="Meet the team - Cloud Nine">
        {{ end }}
      </div>
    </div>

    <!-- Team Section -->
    <div>
      <h2 class="text-8xl font-bold mb-6"> Meet The Team</h2>

    </div>
  </div>
</div>

<section class="relative z-0 scroll-mt-24 scroll-mt-32 l:!scroll-mt-64">
  <div class="container mx-auto">
    <div class="mx-auto flex flex-wrap items-center justify-center gap-12 t:gap-16 lg:max-w-[none] lg:gap-24 d:px-16">

      <!-- First Team Member -->
      <div
        class="absolute inset-0 z-30 opacity-0 transition delay-[200ms] duration-500 ease-in-out group-hover:opacity-100 group-hover:delay-[0ms]">
        <div class="absolute inset-0 z-10 flex h-full w-full p-6 lg:p-8">
          <div class="flex gap-8">
            <div class="w-1/2">
              <a class="group/card block w-full" href="#">
                <div class="rounded-[0.875rem] bg-gradient-to-r from-rose-50 via-yellow-50 to-sky-5 p-0.5">
                  <div class="aspect-wide w-full rounded-xl bg-gray-1100 p-8">
                    {{ with resources.Get "images/Jerry.png" }}
                    {{ $small := (.Resize "550x webp q100").RelPermalink }}
                    {{ $medium := (.Resize "900x webp q100").RelPermalink }}
                    {{ $large := (.Resize "1500x webp q100").RelPermalink }}
                    {{ $together := (.Resize "1500x webp q100").RelPermalink }}
                    <img
                      class="h-full w-full grayscale object-contain transition-transform duration-300 ease-in-out group-hover/card:scale-105"
                      alt="hero" src="{{$together}}">
                    {{ end }}
                  </div>
                </div>
              </a>
            </div>
            <div class="relative h-full w-1/2 pt-2">
              <div
                class="inline-flex items-center gap-1.5 font-sohne text-10pt font-extrabold uppercase tracking-widest text-gray-900">
                <span>CEO | Founder</span>
              </div>
              <div class="rich-text mt-2 text-9pt font-normal leading-snug text-gray-400">
                <p>The YC and Google backed startup is disrupting the CMS ecosystem with a free and open source
                  alternative that’s more flexible and powerful than the SaaS incumbents.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full scroll-mt-32 lg:w-[calc(50%-3rem)] d:!scroll-mt-48">
        <div class="group rounded-xl bg-gradient-to-r from-rose-50 via-yellow-50 to-sky-50 p-2">
          <div class="relative flex justify-between rounded-lg bg-white lg:aspect-wider h-96">
            <div
              class="flex justify-between p-6 opacity-100 transition delay-[200ms] duration-500 ease-in-out group-hover:opacity-0 group-hover:delay-[0ms] lg:p-8">
              <div
                class="max-w-[10ch] text-4xl font-bold leading-[0.9] tracking-tighter text-black t:text-36pt lg:text-6xl lg:leading-[1.125] d:text-36pt">
                Jarrar Shah</div>
              <div
                class="pointer-events-none absolute -bottom-6 -right-4 -top-6 aspect-wide h-[calc(100%+3rem)] lg:-bottom-12 lg:-right-12 lg:-top-12 lg:h-[calc(100%+6rem)]">
                <div class="h-full">
                  {{ with resources.Get "images/Jerry.png" }}
                  {{ $small := (.Resize "550x webp q100").RelPermalink }}
                  {{ $medium := (.Resize "900x webp q100").RelPermalink }}
                  {{ $large := (.Resize "1500x webp q100").RelPermalink }}
                  {{ $together := (.Resize "1500x webp q100").RelPermalink }}
                  <img class="fade-to-be2 grayscale h-full w-full object-contain object-right-bottom" alt="hero"
                    src="{{$together}}">
                  {{ end }}
                </div>
              </div>
            </div>
            <div
              class="absolute inset-0 z-30 opacity-0 transition delay-[200ms] duration-500 ease-in-out group-hover:opacity-100 group-hover:delay-[0ms]">
              <div class="absolute inset-0 z-10 flex h-full w-full p-6 lg:p-8">
                <div class="flex gap-8">
                  <div class="w-1/2">
                    <a class="group/card block w-full" href="#">
                      <div class="rounded-[0.875rem] bg-gradient-to-r from-rose-50 via-yellow-50 to-sky-5 p-0.5">
                        <div class="aspect-wide w-full rounded-xl bg-gray-1100 p-8">
                          {{ with resources.Get "images/Jerry.png" }}
                          {{ $small := (.Resize "550x webp q100").RelPermalink }}
                          {{ $medium := (.Resize "900x webp q100").RelPermalink }}
                          {{ $large := (.Resize "1500x webp q100").RelPermalink }}
                          {{ $together := (.Resize "1500x webp q100").RelPermalink }}
                          <img
                            class="h-full w-full grayscale object-contain transition-transform duration-300 ease-in-out group-hover/card:scale-105"
                            alt="hero" src="{{$together}}">
                          {{ end }}
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="relative h-full w-1/2 pt-2">
                    <div
                      class="inline-flex items-center gap-1.5 font-sohne text-10pt font-extrabold uppercase tracking-widest text-gray-900">
                      <span>CEO | Founder</span>
                    </div>
                    <div class="rich-text mt-2 text-9pt font-normal leading-snug text-gray-400">
                      <p>The YC and Google backed startup is disrupting the CMS ecosystem with a free and open source
                        alternative that’s more flexible and powerful than the SaaS incumbents.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- First team memeber end -->

      <!-- second team member -->

      <div class="w-full scroll-mt-32 lg:w-[calc(50%-3rem)] d:!scroll-mt-48">
        <div class="group rounded-xl bg-gradient-to-r from-rose-50 via-yellow-50 to-sky-50 p-2">
          <div class="relative flex justify-between rounded-lg bg-white lg:aspect-wider h-96">
            <div
              class="flex justify-between p-6 opacity-100 transition delay-[200ms] duration-500 ease-in-out group-hover:opacity-0 group-hover:delay-[0ms] lg:p-8">
              <div
                class="max-w-[10ch] text-4xl font-bold leading-[0.9] tracking-tighter text-black t:text-36pt lg:text-6xl lg:leading-[1.125] d:text-36pt">
                First Name</div>
              <div
                class="pointer-events-none absolute -bottom-6 -right-4 -top-6 aspect-wide h-[calc(100%+3rem)] lg:-bottom-12 lg:-right-12 lg:-top-12 lg:h-[calc(100%+6rem)]">
                <div class="h-full">
                  {{ with resources.Get "images/avatar.png" }}
                  {{ $small := (.Resize "550x webp q100").RelPermalink }}
                  {{ $medium := (.Resize "900x webp q100").RelPermalink }}
                  {{ $large := (.Resize "1500x webp q100").RelPermalink }}
                  {{ $together := (.Resize "1500x webp q100").RelPermalink }}
                  <img class="fade-to-be2 h-full w-full object-contain object-right-bottom" alt="hero"
                    src="{{$together}}">
                  {{ end }}
                </div>
              </div>
            </div>
            <div
              class="absolute inset-0 z-30 opacity-0 transition delay-[200ms] duration-500 ease-in-out group-hover:opacity-100 group-hover:delay-[0ms]">
              <div class="absolute inset-0 z-10 flex h-full w-full p-6 lg:p-8">
                <div class="flex gap-8">
                  <div class="w-1/2">
                    <a class="group/card block w-full" href="#">
                      <div class="rounded-[0.875rem] bg-gradient-to-r from-rose-50 via-yellow-50 to-sky-5 p-0.5">
                        <div class="aspect-wide w-full rounded-xl bg-gray-1100 p-8">
                          {{ with resources.Get "images/avatar.png" }}
                          {{ $small := (.Resize "550x webp q100").RelPermalink }}
                          {{ $medium := (.Resize "900x webp q100").RelPermalink }}
                          {{ $large := (.Resize "1500x webp q100").RelPermalink }}
                          {{ $together := (.Resize "1500x webp q100").RelPermalink }}
                          <img
                            class="h-full w-full object-contain transition-transform duration-300 ease-in-out group-hover/card:scale-105"
                            alt="hero" src="{{$together}}">
                          {{ end }}
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="relative h-full w-1/2 pt-2">
                    <div
                      class="inline-flex items-center gap-1.5 font-sohne text-10pt font-extrabold uppercase tracking-widest text-gray-900">
                      <span>Client</span>
                    </div>
                    <div class="rich-text mt-2 text-9pt font-normal leading-snug text-gray-400">
                      <p>The YC and Google backed startup is disrupting the CMS ecosystem with a free and open source
                        alternative that’s more flexible and powerful than the SaaS incumbents.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="absolute bottom-0 left-0 z-50 flex gap-6 p-6 lg:p-8">
              <div class="group relative inline-flex flex-shrink-0">
                <div class="absolute inset-0 flex h-full w-full max-w-full">
                  <div class="squircle h-full w-full bg-gray-900"></div>
                </div>
                <div class="bg-gray-900 text-white squircle group/button inline-block border-px border-transparent transition duration-300 ease-in-out hover:scale-105 cursor-pointer h-9">
                  <a class="inline-flex flex-shrink-0 items-center font-sohne font-semibold leading-none gap-1.5 px-2.5 text-12pt h-9" href="/project/payload"></a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <!-- second team member end -->

      <!-- Third Team Member -->
      <div class="w-full scroll-mt-32 lg:w-[calc(50%-3rem)] d:!scroll-mt-48">
        <div class="group rounded-xl bg-gradient-to-r from-rose-50 via-yellow-50 to-sky-50 p-2">
          <div class="relative flex justify-between rounded-lg bg-white lg:aspect-wider h-96">
            <div
              class="flex justify-between p-6 opacity-100 transition delay-[200ms] duration-500 ease-in-out group-hover:opacity-0 group-hover:delay-[0ms] lg:p-8">
              <div
                class="max-w-[10ch] text-4xl font-bold leading-[0.9] tracking-tighter text-black t:text-36pt lg:text-6xl lg:leading-[1.125] d:text-36pt">
                First Name</div>
              <div
                class="pointer-events-none absolute -bottom-6 -right-4 -top-6 aspect-wide h-[calc(100%+3rem)] lg:-bottom-12 lg:-right-12 lg:-top-12 lg:h-[calc(100%+6rem)]">
                <div class="h-full">
                  {{ with resources.Get "images/avatar.png" }}
                  {{ $small := (.Resize "550x webp q100").RelPermalink }}
                  {{ $medium := (.Resize "900x webp q100").RelPermalink }}
                  {{ $large := (.Resize "1500x webp q100").RelPermalink }}
                  {{ $together := (.Resize "1500x webp q100").RelPermalink }}
                  <img class="fade-to-be2 h-full w-full object-contain object-right-bottom" alt="hero"
                    src="{{$together}}">
                  {{ end }}
                </div>
              </div>
            </div>
            <div
              class="absolute inset-0 z-30 opacity-0 transition delay-[200ms] duration-500 ease-in-out group-hover:opacity-100 group-hover:delay-[0ms]">
              <div class="absolute inset-0 z-10 flex h-full w-full p-6 lg:p-8">
                <div class="flex gap-8">
                  <div class="w-1/2">
                    <a class="group/card block w-full" href="#">
                      <div class="rounded-[0.875rem] bg-gradient-to-r from-rose-50 via-yellow-50 to-sky-5 p-0.5">
                        <div class="aspect-wide w-full rounded-xl bg-gray-1100 p-8">
                          {{ with resources.Get "images/avatar.png" }}
                          {{ $small := (.Resize "550x webp q100").RelPermalink }}
                          {{ $medium := (.Resize "900x webp q100").RelPermalink }}
                          {{ $large := (.Resize "1500x webp q100").RelPermalink }}
                          {{ $together := (.Resize "1500x webp q100").RelPermalink }}
                          <img
                            class="h-full w-full object-contain transition-transform duration-300 ease-in-out group-hover/card:scale-105"
                            alt="hero" src="{{$together}}">
                          {{ end }}
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="relative h-full w-1/2 pt-2">
                    <div
                      class="inline-flex items-center gap-1.5 font-sohne text-10pt font-extrabold uppercase tracking-widest text-gray-900">
                      <span>Client</span>
                    </div>
                    <div class="rich-text mt-2 text-9pt font-normal leading-snug text-gray-400">
                      <p>The YC and Google backed startup is disrupting the CMS ecosystem with a free and open source
                        alternative that’s more flexible and powerful than the SaaS incumbents.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="absolute bottom-0 left-0 z-50 flex gap-6 p-6 lg:p-8">
              <div class="group relative inline-flex flex-shrink-0">
                <div class="absolute inset-0 flex h-full w-full max-w-full">
                  <div class="squircle h-full w-full bg-gray-900"></div>
                </div>
                <div class="bg-gray-900 text-white squircle group/button inline-block border-px border-transparent transition duration-300 ease-in-out hover:scale-105 cursor-pointer h-9">
                  <a class="inline-flex flex-shrink-0 items-center font-sohne font-semibold leading-none gap-1.5 px-2.5 text-12pt h-9" href="/project/payload"></a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <!-- Third team memeber end -->

      <div class="w-full scroll-mt-32 lg:w-[calc(50%-3rem)] d:!scroll-mt-48">
        <div class="group rounded-xl bg-gradient-to-r from-rose-50 via-yellow-50 to-sky-50 p-2">
          <div class="relative flex justify-between rounded-lg bg-white lg:aspect-wider h-96">
            <div
              class="flex justify-between p-6 opacity-100 transition delay-[200ms] duration-500 ease-in-out group-hover:opacity-0 group-hover:delay-[0ms] lg:p-8">
              <div
                class="max-w-[10ch] text-4xl font-bold leading-[0.9] tracking-tighter text-black t:text-36pt lg:text-6xl lg:leading-[1.125] d:text-36pt">
                First Name</div>
              <div
                class="pointer-events-none absolute -bottom-6 -right-4 -top-6 aspect-wide h-[calc(100%+3rem)] lg:-bottom-12 lg:-right-12 lg:-top-12 lg:h-[calc(100%+6rem)]">
                <div class="h-full">
                  {{ with resources.Get "images/avatar.png" }}
                  {{ $small := (.Resize "550x webp q100").RelPermalink }}
                  {{ $medium := (.Resize "900x webp q100").RelPermalink }}
                  {{ $large := (.Resize "1500x webp q100").RelPermalink }}
                  {{ $together := (.Resize "1500x webp q100").RelPermalink }}
                  <img class="fade-to-be2 h-full w-full object-contain object-right-bottom" alt="hero"
                    src="{{$together}}">
                  {{ end }}
                </div>
              </div>
            </div>
            <div
              class="absolute inset-0 z-30 opacity-0 transition delay-[200ms] duration-500 ease-in-out group-hover:opacity-100 group-hover:delay-[0ms]">
              <div class="absolute inset-0 z-10 flex h-full w-full p-6 lg:p-8">
                <div class="flex gap-8">
                  <div class="w-1/2">
                    <a class="group/card block w-full" href="#">
                      <div class="rounded-[0.875rem] bg-gradient-to-r from-rose-50 via-yellow-50 to-sky-5 p-0.5">
                        <div class="aspect-wide w-full rounded-xl bg-gray-1100 p-8">
                          {{ with resources.Get "images/avatar.png" }}
                          {{ $small := (.Resize "550x webp q100").RelPermalink }}
                          {{ $medium := (.Resize "900x webp q100").RelPermalink }}
                          {{ $large := (.Resize "1500x webp q100").RelPermalink }}
                          {{ $together := (.Resize "1500x webp q100").RelPermalink }}
                          <img
                            class="h-full w-full object-contain transition-transform duration-300 ease-in-out group-hover/card:scale-105"
                            alt="hero" src="{{$together}}">
                          {{ end }}
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="relative h-full w-1/2 pt-2">
                    <div
                      class="inline-flex items-center gap-1.5 font-sohne text-10pt font-extrabold uppercase tracking-widest text-gray-900">
                      <span>Client</span>
                    </div>
                    <div class="rich-text mt-2 text-9pt font-normal leading-snug text-gray-400">
                      <p>The YC and Google backed startup is disrupting the CMS ecosystem with a free and open source
                        alternative that’s more flexible and powerful than the SaaS incumbents.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="absolute bottom-0 left-0 z-50 flex gap-6 p-6 lg:p-8">
              <div class="group relative inline-flex flex-shrink-0">
                <div class="absolute inset-0 flex h-full w-full max-w-full">
                  <div class="squircle h-full w-full bg-gray-900"></div>
                </div>
                <div class="bg-gray-900 text-white squircle group/button inline-block border-px border-transparent transition duration-300 ease-in-out hover:scale-105 cursor-pointer h-9">
                  <a class="inline-flex flex-shrink-0 items-center font-sohne font-semibold leading-none gap-1.5 px-2.5 text-12pt h-9" href="/project/payload"></a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


{{ end }}