{{define "main"}}



<section class="bg-black pt-14">
    <div
        class="relative bg-white dark:bg-gray-900 rounded-t-3xl px-8 items-center justify-center w-full overflow-hidden pt-4 md:pt-8">
        <div class="relative z-10">
            <div
                class="absolute inset-x-0 top-1/2 -z-10 flex -translate-y-1/2 justify-center overflow-hidden [mask-image:radial-gradient(50%_45%_at_50%_55%,white,transparent)]">
                <svg class="h-[60rem] w-[100rem] flex-none stroke-secondary dark:stroke-white opacity-10"
                    aria-hidden="true">
                    <defs>
                        <pattern id="e9033f3e-f665-41a6-84ef-756f6778e6fe" width="200" height="200" x="50%" y="50%"
                            patternUnits="userSpaceOnUse" patternTransform="translate(-100 0)">
                            <path d="M.5 200V.5H200" fill="none"></path>
                        </pattern>
                    </defs>
                    <rect width="100%" height="100%" stroke-width="0" fill="url(#e9033f3e-f665-41a6-84ef-756f6778e6fe)">
                    </rect>
                </svg>
            </div>
        </div>
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-4 lg:px-12 relative z-10">

            <span
                class="inline-flex dark:text-white dark:border-white rounded-xl justify-between items-center py-1 px-4 mb-7 text-sm border border-2 dark:border-white border-gray-900 font-medium text-dark dark:text-white">
                Tailored Digital Solutions</span>
            <h1
                class="mb-4 text-3xl dark:text-white max-w-4xl mx-auto font-medium tracking-tight leading-none text-dark dark:text-white md:text-4xl lg:text-5xl">
                How we’ve helped people</h1>
            <p class="mb-8 text-xl md:text-2xl font-normal text-stone-400 sm:px-16 xl:px-48 dark:text-stone-50">Cloud
                nine
                offers digital marketing services to make your business known to your audience and hence drive sales!
            </p>
            <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                <a href="#_" class="relative inline-block text-lg group">
                    <span
                        class="relative z-10 block px-5 py-3 overflow-hidden font-medium leading-tight text-gray-800 transition-colors duration-300 ease-out border-2 border-gray-900 rounded-lg group-hover:text-white">
                        <span class="absolute inset-0 w-full h-full px-5 py-3 rounded-lg bg-gray-50"></span>
                        <span
                            class="absolute left-0 w-48 h-48 -ml-2 transition-all duration-300 origin-top-right -rotate-90 -translate-x-full translate-y-12 bg-gray-900 group-hover:-rotate-180 ease"></span>
                        <span class="relative">Reach Out</span>
                    </span>
                    <span
                        class="absolute bottom-0 right-0 w-full h-12 -mb-1 -mr-1 transition-all duration-200 ease-linear bg-gray-900 rounded-lg group-hover:mb-0 group-hover:mr-0"
                        data-rounded="rounded-lg"></span>
                </a>
                <a href="#_" class="relative inline-block px-4 py-3 font-medium group">
                    <span
                        class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black rounded-lg group-hover:-translate-x-0 group-hover:-translate-y-0"></span>
                    <span
                        class="absolute inset-0 w-full h-full bg-white border-2 border-black group-hover:bg-black rounded-lg"></span>
                    <span class="relative text-black group-hover:text-white">Learn More</span>
                </a>
            </div>
            <!-- <div class="flex justify-center">
              <div class="relative  w-full max-w-4xl xl:max-w-6xl lg:w-screen">
                  {{ with resources.Get "images/hero-software.png" }}
                  {{ $small := (.Resize "900x webp q100").RelPermalink }}
                  {{ $medium := (.Resize "1500x webp q100").RelPermalink }}
                  {{ $large := (.Resize "2000x webp q100").RelPermalink }}
                  {{ $heroimage := (.Resize "2000x webp q100").RelPermalink }}
                  <img srcset="
                  {{- with $small -}}, {{.}} 768w{{- end -}}
                  {{- with $medium -}}, {{.}} 1024w{{- end -}}
                  {{- with $large -}}, {{.}} 1374w{{- end -}}" src="{{ $heroimage }}"
                      class="w-full h-full rounded-xl" alt="Sign Makers crafting a high quality premium LED signage">
                  {{ end }}
              </div>
          </div> -->
        </div>
    </div>
</section>

<section class="dark:bg-gray-900">
    <div class="container mx-auto rounded-b-3xl">
        <div class="flex flex-col md:flex-row gap-y-6 py-20 justify-center">
            <div class="w-full md:w-1/2">
                <h2 class="h2 text-dark dark:text-white dark:text-gray-100">Our Work</h2>
                <p class="text-gray-500 dark:text-gray-100 max-w-xl">
                    At Radiant, we are dedicated to transforming the way revenue organizations source and close deals.
                    Our
                    mission is to provide our customers with an unfair advantage over both their competitors and
                    potential
                    customers through insight and analysis. We’ll stop at nothing to get you the data you need to close
                    a
                    deal.
                    <br><br>
                    We’re customer-obsessed — putting the time in to build a detailed financial picture of every one of
                    our
                    customers so that we know more about your business than you do. We are in this together, mostly
                    because
                    we are all implicated in large-scale financial crime. In our history as a company, we’ve never lost
                    a
                    customer, because if any one of us talks, we all go down.
                </p>
            </div>
            <div class="w-full md:w-1/2">
                {{ with resources.Get "images/hero-software.png" }}
                {{ $small := (.Resize "900x webp q100").RelPermalink }}
                {{ $medium := (.Resize "1500x webp q100").RelPermalink }}
                {{ $large := (.Resize "2000x webp q100").RelPermalink }}
                {{ $heroimage := (.Resize "2000x webp q100").RelPermalink }}
                <img srcset="
                    {{- with $small -}}, {{.}} 768w{{- end -}}
                    {{- with $medium -}}, {{.}} 1024w{{- end -}}
                    {{- with $large -}}, {{.}} 1374w{{- end -}}" src="{{ $heroimage }}"
                    class="w-full h-auto object-cover grayscale hover:grayscale-0"
                    alt="Sign Makers crafting a high quality premium LED signage">
                {{ end }}
            </div>
        </div>
    </div>
</section>


<section
    class="bg-gradient-to-r from-gray-50 via-white to-gray-100 dark:from-gray-800 dark:via-gray-900 dark:to-gray-800 py-12 px-4">
    <div class="container mx-auto max-w-7xl">
        <!-- Category Filters -->
        <div class="flex justify-center mb-8">
            <ul
                class="flex-col flex md:flex-row space-x-6 md:items-center bg-white dark:bg-gray-800 border border-2 dark:border-white border-gray-900 px-6 py-3 rounded-3xl">
                <!-- "All" Filter -->
                <li class="flex md:items-center">
                    <span class="w-2 h-2 bg-primary rounded-full mr-2"></span>
                    <button onclick="filterSelection('all')"
                        class="text-sm text-dark dark:text-white hover:text-gray-700 transition-colors">ALL</button>
                </li>
                {{ $industryTypes := slice }}
                {{ range where .Site.Pages "Section" "portfolio" }}
                {{ $industryType := .Params.industry_type }}
                {{ if $industryType }}
                {{ if reflect.IsSlice $industryType }}
                {{ range $industryType }}
                {{ if not (in $industryTypes .) }}
                {{ $industryTypes = $industryTypes | append . }}
                {{ end }}
                {{ end }}
                {{ else }}
                {{ if not (in $industryTypes $industryType) }}
                {{ $industryTypes = $industryTypes | append $industryType }}
                {{ end }}
                {{ end }}
                {{ end }}
                {{ end }}
                {{ range $industryTypes }}
                <li class="flex justify-start items-center">
                    <span class="w-2 h-2 bg-primary rounded-full mr-2"></span>
                    <button onclick="filterSelection('{{ lower . | urlize }}')"
                        class="text-xs font-semibold text-dark dark:text-white text-left hover:text-gray-600 transition-colors">{{
                        . | upper }}</button>
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="grid grid-cols-1 items-stretch md:grid-cols-2 lg:grid-cols-2 gap-12">
            <div class="max-w-2xl mb-12 self-end">
                <p class="text-primary font-semibold">Portfolio</p>
                <h2 class="text-4xl font-bold text-dark dark:text-white">Check out some of our recent projects below.
                </h2>
                <p class="mt-2 text-gray-600 dark:text-stone-100">
                    There are many variations of passages of Lorem Ipsum available but the majority have suffered
                    alteration
                    in some form.
                </p>
            </div>
            {{ range $index, $page := where .Site.Pages "Section" "portfolio" }}
            <a class="group flex flex-col portfolio-item"
                data-industry="{{ $page.Params.industry_type | lower | urlize }}" href="{{ $page.RelPermalink }}">
                <div class="relative rounded-lg overflow-hidden">
                    {{ with $page.Resources.GetMatch $page.Params.featuredImage }}
                    {{ $large := (.Resize "2000x webp q100").RelPermalink }}
                    <img class="w-full h-32 md:h-96 rounded-2xl shadow-md object-cover transition-transform duration-500 transform group-hover:scale-105"
                        src="{{ $large }}" alt="{{ $page.Title }}">
                    {{ end }}
                </div>
                <!-- Portfolio Text Section -->
                <div class="mt-4">
                    <p class="text-sm text-primary uppercase font-medium"><span>&#8212;</span>
                        {{ $page.Params.industry_type }}</p> <!-- Adding the dash and industry -->
                    <h3 class="text-xl font-semibold text-dark dark:text-white group-hover:text-primary">{{ $page.Title
                        }}</h3>
                </div>
            </a>
            {{ end }}
        </div>
    </div>
</section>




<!-- JavaScript for Filtering -->
<script>
    function filterSelection(industry) {
        const portfolioItems = document.querySelectorAll('.portfolio-item');

        portfolioItems.forEach(item => {
            const itemIndustries = item.getAttribute('data-industry').split(' ');
            if (industry === 'all' || itemIndustries.includes(industry)) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    }

    // Initialize by showing all items
    filterSelection('all');
</script>




{{ end }}