@import "./glightbox.css";

/* assets */
@tailwind base;
@tailwind components;
@tailwind utilities;

font-family: ui-sans-serif,
system-ui,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
Apple Color Emoji,
Segoe UI Emoji,
NotoColorEmoji,
Segoe UI Symbol,
Android Emoji,
EmojiSymbols;
/* Custom CSS */

.product-inner {
    position: relative;
    width: 100%;
    border-radius: .75rem;
    background-image: linear-gradient(to top right, var(--tw-gradient-stops));
    --tw-gradient-from: #f8fafc80 var(--tw-gradient-from-position);
    --tw-gradient-to: #f8fafc00 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #f1f5f900 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #f1f5f9 var(--tw-gradient-via-position), var(--tw-gradient-to);
    --tw-gradient-to: #94a3b880 var(--tw-gradient-to-position)
}

.product-inner:before {
    margin: -1px;
    background-image: linear-gradient(to top right, var(--tw-gradient-stops));
    --tw-gradient-from: #e2e8f0 var(--tw-gradient-from-position);
    --tw-gradient-to: #e2e8f000 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.product-inner:after,
.product-inner:before {
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: -10;
    border-radius: .75rem;
    content: var(--tw-content)
}

.product-inner:after {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

@media (min-width: 768px) {
    .product-inner {
        --tw-gradient-to: #94a3b8 var(--tw-gradient-to-position)
    }
}

/* Custom CSS end */

/* Typography */
.display1 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl
}

.h1 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl font-extrabold font-poppins;
}

.h2 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl font-bold;
}

.h3 {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl font-bold;
}

.h4 {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl font-semibold;
}

.h5 {
    @apply text-sm sm:text-base md:text-lg lg:text-xl font-semibold;
}

.h6 {
    @apply text-sm sm:text-base md:text-lg lg:text-xl font-medium;
}

.navheading {
    @apply text-sm font-semibold text-white hover:text-primary focus:text-white
}

/* Scrollbar custom */

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 12px;
        height: 20px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 5px;
        background: #212121;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #757575;
        border-radius: 5px;
        border: 1px solid #616161;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #616161;
    }
}


/* Example for sticky sections with dynamic styles */
[data-sticky-sections] section {
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: var(--stick-visibility, 0);
    /* Default opacity */
    transform: scale(var(--stick-scale, 0.8));
    /* Default scale */
}

/* The container can also be styled with custom variables if needed */
[data-sticky-sections] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-image {
    background-size: cover;
    background-position: center;
}

.card-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgb(15 23 42));
}

.card-arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    /* Slightly transparent white */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    /* Smooth transition on hover */
}

.card-arrow:hover {
    background-color: rgba(255, 255, 255, 0.4);
    /* More opaque white on hover */
}

@layer components {
    .span-style {
        @apply absolute top-0 left-0 w-full h-full origin-center [transform-style:preserve-3d] lg:[transform:rotateY(calc(var(--i)*45deg))_translateZ(350px)] md:[transform:rotateY(calc(var(--i)*45deg))_translateZ(265px)] sm:[transform:rotateY(calc(var(--i)*45deg))_translateZ(216px)] [transform:rotateY(calc(var(--i)*45deg))_translateZ(120px)];
    }

    .img-style {
        @apply absolute top-0 left-0 w-full h-full rounded-sm object-cover [transition:2s] sm:hover:-translate-y-[50px] hover:-translate-y-[20px] hover:scale-[1.3];
    }
}

.area {
    background: #ffffff;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 80vh;
    position: absolute;
    z-index: -1;
}

/* Cloud Animation */

.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.clouds li {
    position: absolute;
    display: block;
    list-style: none;
    width: 150px;
    /* Reduced the width */
    height: 70px;
    /* Reduced the height */
    background: #dc4465;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    border-radius: 50px;
    /* Adjusted border-radius to match new size */
}

.clouds li::after,
.clouds li::before {
    content: "";
    position: relative;
    display: inline-block;
    background: inherit;
    border-radius: inherit;
}

.clouds li::after {
    width: 50px;
    /* Reduced the width */
    height: 50px;
    /* Reduced the height */
    top: -100px;
    /* Adjusted position */
    left: 25px;
    /* Adjusted position */
}

.clouds li::before {
    width: 60px;
    /* Reduced the width */
    height: 60px;
    /* Reduced the height */
    top: -15px;
    /* Adjusted position */
    left: 45px;
    /* Adjusted position */
}

.clouds li:nth-child(1) {
    left: 25%;
    width: 90px;
    height: 50px;
    animation-delay: 0s;
}

.clouds li:nth-child(2) {
    left: 10%;
    width: 65px;
    height: 50px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.clouds li:nth-child(3) {
    left: 70%;
    width: 70px;
    height: 50px;
    animation-delay: 4s;
}

.clouds li:nth-child(4) {
    left: 40%;
    width: 80px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.clouds li:nth-child(5) {
    left: 65%;
    width: 70px;
    height: 45px;
    animation-delay: 0s;
}

.clouds li:nth-child(6) {
    left: 75%;
    width: 75px;
    height: 55px;
    animation-delay: 3s;
}

.clouds li:nth-child(7) {
    left: 35%;
    width: 75px;
    height: 50px;
    animation-delay: 7s;
}

.clouds li:nth-child(8) {
    left: 50%;
    width: 80px;
    height: 50px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.clouds li:nth-child(9) {
    left: 20%;
    width: 77.5px;
    height: 50.5px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.clouds li:nth-child(10) {
    left: 85%;
    width: 65px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}

.accent-cut-dark::after {
    border-bottom: 48px solid #000000;
    border-left: 40px solid transparent;
    bottom: -1px;
    content: "";
    height: 0;
    position: absolute;
    right: -1px;
    width: 0;
}

.accent-cut::after {
    border-bottom: 48px solid #fff;
    border-left: 40px solid transparent;
    bottom: -1px;
    content: "";
    height: 0;
    position: absolute;
    right: -1px;
    width: 0;
}

@media (min-width: 1024px) {
    .accent-cut::after {
        border-bottom-width: 66px;
        border-left-width: 55px;
    }
}

.accent-vertical.accent-vertical-primary-300:before {
    --tw-bg-opacity: 1;
    background-color: #DC4465;
}

.accent-vertical:before {
    --tw-skew-y: -50deg;
    height: 100%;
    left: -20px;
    position: absolute;
    top: 12px;
    width: 20px;
}

.accent-underline:after, .accent-vertical:before {
    content: "";
    display: block;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* custom scrollbar styles globally */
*::-webkit-scrollbar {
    width: 12px; /* Adjust the width of the scrollbar */
  }
  
  *::-webkit-scrollbar-track {
    background-color: #c7c7c7 !important; /* Tailwind gray-200 */
  }
  
  *::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #DC4465, #ec2e57) !important; /* Gradient colors */
    border-radius: 6px !important; /* Optional: Add rounded corners */
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(45deg, #ec2e57, #DC4465) !important; /* Gradient colors for hover state */
  }
  
/* Nav item animation */
.nav-item::after {
    display: block;
    content: '';
    border-bottom: solid 3px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  .nav-item:hover::after { 
    transform: scaleX(1); 
  }
  
  
  
