<!-- Posts Section -->
<section class="w-full md:w-1/2 lg:w-2/3 flex flex-col items-center px-3">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-[30px]">

        {{ range .Paginator.Pages }}
        <div class="rounded-lg bg-white border-4 border-black overflow-hidden shadow-lg">
            <a href="{{ .RelPermalink }}"></a>
            <div class="relative">
                <a href="{{ .RelPermalink }}">
                    <img class="w-full" src="{{ with .Resources.GetMatch .Params.featuredImage }}{{ (.Resize "500x webp q90").RelPermalink }}{{ else }}{{ .Params.featuredImage }}{{ end }}" alt="{{ .Title }}">
                    <div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>
                </a>
                <a href="#">
                    <div class="absolute bottom-0 left-0 bg-primary px-4 py-2 text-white text-sm hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                        {{ if .Params.category }}{{ .Params.category }}{{ else }}Category{{ end }}
                    </div>
                </a>
        
                <div class="text-sm absolute top-0 right-0 bg-primary px-4 text-white rounded-full h-12 w-12 flex flex-col items-center justify-center mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                    <span class="font-bold">{{ .Date.Format "02" }}</span>
                    <small>{{ .Date.Format "January" }}</small>
                </div>
            </div>
            <div class="px-6 py-4">
                <a href="{{ .RelPermalink }}" class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out">
                    {{ .Title }}
                </a>
                <p class="text-gray-500 text-sm">
                    {{ if .Params.description }}{{ .Params.description }}{{ else }}No description available.{{ end }}
                </p>
            </div>
            <div class="px-6 py-4 flex flex-row items-center">
                <span class="py-1 text-sm font-regular text-gray-900 mr-1 flex flex-row items-center">
                    <svg height="13px" width="13px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M277.333,256
                        c0,11.797-9.536,21.333-21.333,21.333h-85.333c-11.797,0-21.333-9.536-21.333-21.333s9.536-21.333,21.333-21.333h64v-128
                        c0-11.797,9.536-21.333,21.333-21.333s21.333,9.536,21.333,21.333V256z"></path>
                    </svg>
                    <span class="ml-1">{{ .ReadingTime }} mins read</span>
                </span>
            </div>
            <div class="max-w-xl p-6 relative">
                <a href="{{ .RelPermalink }}" class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-dark transition duration-300 ease-out border-2 border-white rounded-full shadow-md group">
                  <span class="absolute inset-0 flex items-center justify-center w-full h-full text-dark duration-300 -translate-x-full bg-transparent group-hover:translate-x-0 ease">
                      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
                  </span>
                  <span class="absolute flex items-center justify-center w-full h-full text-dark transition-all duration-300 transform group-hover:translate-x-full ease">Read More</span>
                  <span class="relative invisible">Read More</span>
              </a>
            </div>
        </div>
        {{ end }}
    </div>

    <!-- Pagination -->
    {{ partial "pagination" . }}

</section>