<section>
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row">
            <div class="w-full md:w-1/2">
                <h4 class="h4 text-primary max-w-xl mx-auto">Solution to your software prolems</h4>
                <h3 class="h2 text-white max-w-xl mx-auto py-4">We will be with you every step of the way – from initial planning to delivery, and beyond.
                </h3>
                <p class="text-base text-white max-w-xl mx-auto py-6">
                    One Beyond's 200+ experts give brands a "Digital Edge" through bespoke software solutions. Using battle-tested languages, MACH, and AI architectures, we tailor our agile approach to each client, delivering measurable value from planning to delivery and beyond.
                </p>
            </div>
            <div class="w-full md:w-1/2">
                <div class="flex justify-center mt-8">
                    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                    <dotlottie-player src="https://lottie.host/10905f9b-e2fa-414e-b6a2-63a21a7e68cf/is8F5updMO.json" background="transparent" speed="1" class="h-32 md:h-96" loop autoplay></dotlottie-player>
                </div>
            </div>
        </div>
    </div>
</section>