<!-- <section>
    <div class="container bg-black mx-auto">
        <div class="max-w-5xl mx-auto  text-white p-8 rounded-lg text-center">
            <h2 class="text-6xl font-bold mb-4">We'll elevate your brand to Cloud Nine!</h2>
            <div class="flex justify-center gap-x-20 items-center text-lg mb-4">
                <div class="flex flex-col items-center">
                    <div
                        class="bg-gray-100 border-2 border-gray-300 text-black w-32 h-32 rounded-full flex items-center justify-center">
                        <span class="text-4xl font-bold">100</span>
                    </div>
                    <span class="mt-2 font-semibold">CREATIVITY
                    </span>
                </div>
                <div class="flex flex-col items-center">
                    <div
                        class="bg-gray-100 border-2 border-gray-300 text-black w-32 h-32 rounded-full flex items-center justify-center">
                        <span class="text-4xl font-bold">100</span>
                    </div>
                    <span class="mt-2 font-semibold">STRATEGY
                    </span>
                </div>
                <div class="flex flex-col items-center">
                    <div
                        class="bg-gray-100 border-2 border-gray-300 text-black w-32 h-32 rounded-full flex items-center justify-center">
                        <span class="text-4xl font-bold">100</span>
                    </div>
                    <span class="mt-2 font-semibold">EXECUTION
                    </span>
                </div>
                <div class="flex flex-col items-center">
                    <div
                        class="bg-gray-100 border-2 border-gray-300 text-black w-32 h-32 rounded-full flex items-center justify-center">
                        <span class="text-4xl font-bold">100</span>
                    </div>
                    <span class="mt-2 font-semibold">RESULTS
                    </span>
                </div>
            </div>
            <div class="flex gap-x-20 gap-y-6 justify-center">
                <div class="flex-col items-center justify-start">
                    <p class="text-gray-400 mb-2">Powered by</p>
                    <p class="text-white font-semibold mb-4">Innovative Ideas</p>
                </div>
                <div class="flex-col justify-start items-center">
                    <p class="text-gray-400 mb-2">Accelerated by</p>
                    <p class="text-white font-semibold">Cloud Nine Marketing</p>
                </div>
            </div>

        </div>
    </div>
</section> -->