<section class="py-16 bg-white dark:bg-gray-800">
    <div class="max-w-7xl  rounded-3xl py-6 px-4 mx-auto px-6 lg:px-8">
        <!-- Header -->
        <div class="mb-12">
            <span
                class="inline-flex rounded-xl justify-between items-center py-1 px-4 mb-7 text-sm border border-2 border-gray-900 dark:border-white font-medium text-dark dark:text-white">
                Explore</span>
            <h3 class="text-3xl font-bold text-dark dark:text-white font-chillax">What We Can Do for Our Clients</h3>
            <p class="text-white mt-4 max-w-2xl">There are many variations of passages of Lorem Ipsum available, but
                the majority.</p>
        </div>

        <!-- Content -->
        <div class="grid md:grid-cols-3 gap-4 items-center">
            <!-- Main Block -->
            <div class="relative group overflow-hidden rounded-lg shadow-lg h-96 w-full bg-gradient-to-tr from-red-50 via-teal-50 to-gray-100 md:col-span-1 bg-no-repeat object-cover group-hover:scale-105 transition-transform duration-300">
                <div class="absolute inset-0 bg-gradient-to-tr from-red-50 via-teal-50 to-gray-100 bg-opacity-60 flex flex-col justify-end p-6 space-y-4">
                    <h3 class="text-2xl font-chillax font-bold text-dark">UX & UI Design with Development</h3>
                    <p class="text-lg text-gray-600">UI/UX Design and development for mobile apps, web-applications and AI Induced apps</p>
                    <a href="#" class="inline-flex text-dark  text-xl items-center hover:text-neutral hover:underline">
                        Explore Topic <span class="ml-1">→</span>
                    </a>
                </div>
            </div>

            <!-- Right-Side Blocks -->
            <div class="space-y-6">
                <!-- Block 1 -->
                <div class="p-6 rounded-lg shadow-lg bg-gradient-to-tr from-primary to-red-800 text-white">
                    <h3 class="text-lg font-chillax font-bold">Read Our Blog</h3>
                    <p class="text-sm mt-2">Stay updated and find out intresting facts and news on our blogs
                    </p>
                    <a href="/blog" class="inline-flex items-center mt-4 text-white hover:text-neutral hover:underline">
                        Learn More <span class="ml-1">→</span>
                    </a>
                </div>
                <!-- Block 2 -->
                <div class="p-6 rounded-lg shadow-lg bg-gradient-to-tr from-secondary to-indigo-800 text-white">
                    <h3 class="text-lg font-chillax font-bold">Explore Our Services</h3>
                    <p class="text-sm mt-2">Still looking for something? Explore more here
                    </p>
                    <a href="/services" class="inline-flex items-center mt-4 text-white hover:text-neutral hover:underline">
                        Learn More <span class="ml-1">→</span>
                    </a>
                </div>
            </div>
            <!-- Block 3 -->
            
            <div class="relative group overflow-hidden rounded-lg shadow-lg h-full w-full md:col-span-1 bg-no-repeat object-cover group-hover:scale-105 transition-transform duration-300">
                <div class="absolute inset-0 bg-gradient-to-tr from-red-50 via-teal-50 to-gray-100  bg-opacity-60 flex flex-col justify-end p-6 space-y-4">
                    <h3 class="text-2xl font-bold font-chillax text-dark ">Meet Our Expert</h3>
                    <p class="text-lg text-gray-600 mt-2">Get to know us and let's start working together</p>
                    <a href="/about#team" class="inline-flex items-center mt-4 text-dark  text-xl hover:text-neutral hover:underline">
                        Learn More <span class="ml-1">→</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>