<section class="bg-white dark:bg-gray-800">
  <div class="container mx-auto">
    <div class="flex flex-col justify-center items-center  py-12">
      <span
        class="inline-flex rounded-xl justify-between items-center py-1 px-4 mb-7 text-sm border border-2 border-gray-900 dark:border-white font-medium text-dark dark:text-white">Get
        Yourself A Cloudy Experience</span>
      <h3 class="text-3xl md:text-5xl text-dark font-chillax dark:text-white text-left font-semibold"> <span
          class="text-primary">Cloud9</span> Offers
      </h3>
    </div>
  </div>
</section>

<section class="pb-20 relative bg-white dark:bg-gray-800">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row   justify-center gap-x-3 gap-y-3">
      <div
        class="w-full md:w-2/5 relative h-96 bg-gradient-to-tl from-red-50 via-teal-50 to-gray-100 dark:from-slate-900 dark:via-slate-900 dark:to-slate-800 rounded-2xl  shadow-lg shadow-gray-300 dark:shadow-primary">
        <div class="grid grid-cols-1 justify-items-stretch px-6 py-6">
          <!-- Title and Tag -->
          <div class="flex justify-between">
            <h4
              class="mb-4 text-3xl max-w-xl font-bold font-chillax tracking-tight leading-none text-dark md:text-4xl lg:text-4xl text-left justify-self-start dark:text-gray-100">
              Logo Design
            </h4>
            <span
              class="inline-flex rounded-xl justify-between items-center py-1 h-8 px-4 text-sm bg-primary font-medium text-white justify-self-end">
              HOT
            </span>
          </div>
          <p class="text-dark max-w-sm dark:text-gray-100">Crafting your brand identity involves defining your mission,
            values, and
            visual elements to create a cohesive and memorable presence.</p>

          <div
            class="text-xl max-w-xl p-6 font-bold tracking-tight text-dark absolute inset-x-0 bottom-0 dark:text-gray-100">
            <a href="/logo-design"
              class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-dark transition duration-300 ease-out border-2 border-white rounded-full shadow-md group dark:text-gray-100 dark:border-gray-100">
              <span
                class="absolute inset-0 flex items-center justify-center w-full h-full text-dark duration-300 -translate-x-full bg-transparent group-hover:translate-x-0 ease dark:text-gray-100">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3">
                  </path>
                </svg>
              </span>
              <span
                class="absolute flex items-center justify-center w-full h-full text-dark transition-all duration-300 transform group-hover:translate-x-full ease dark:text-gray-100">
                Read More
              </span>
              <span class="relative invisible">Read More</span>
            </a>
          </div>
        </div>
      </div>

      <div
        class="w-full md:w-3/5 h-96 relative bg-gradient-to-br from-red-50 via-teal-50 to-gray-100 dark:from-slate-900 dark:via-slate-900 dark:to-slate-800 rounded-2xl shadow-lg shadow-gray-300 dark:shadow-indigo-800">
        <div class="grid grid-cols-1 justify-items-stretch px-6 py-6">
          <!-- Title and Tag -->
          <div class="flex justify-between">
            <h4
              class="mb-4 text-2xl max-w-2xl font-bold font-chillax tracking-tight leading-none text-dark md:text-4xl lg:text-4xl text-left justify-self-start dark:text-gray-100">
              Reach Cloud 9 With <span class="text-primary text-lg md:text-2xl">Performance Marketing</span></h4>
            <span
              class="inline-flex rounded-xl justify-between items-center py-1 px-4 mb-7 text-sm bg-primary font-medium text-white justify-self-end">
              HOT
            </span>
          </div>
          <p class="text-dark max-w-xl dark:text-gray-100">From in-depth keyword research and A/B-tested campaigns to
            ongoing
            optimisation across multiple platforms, we’ll ensure your brand dominates. Our performance
            marketing approach targets the right audience, maximises ROI, and keeps your business ahead of
            the curve.</p>
          <div
            class="text-xl max-w-xl p-6 font-bold tracking-tight text-dark absolute inset-x-0 bottom-0 dark:text-gray-100">
            <a href="/performance-marketing/"
              class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-dark transition duration-300 ease-out border-2 border-white rounded-full shadow-md group dark:text-gray-100 dark:border-gray-100">
              <span
                class="absolute inset-0 flex items-center justify-center w-full h-full text-dark duration-300 -translate-x-full bg-transparent group-hover:translate-x-0 ease dark:text-gray-100">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3">
                  </path>
                </svg>
              </span>
              <span
                class="absolute flex items-center justify-center w-full h-full text-dark transition-all duration-300 transform group-hover:translate-x-full ease dark:text-gray-100">
                Read More
              </span>
              <span class="relative invisible">Read More</span>
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="flex flex-col md:flex-row py-6 gap-x-3 gap-y-3">
      <div
        class="w-full md:w-1/3 rounded-2xl relative h-96 bg-gradient-to-br from-red-50 via-teal-50 to-gray-100 dark:from-slate-900 dark:via-slate-900 dark:to-slate-800 shadow-lg shadow-gray-300 dark:shadow-neutral">
        <div class="grid grid-col-1 h-auto md:grid-cols-1 justify-items-stretch px-6 py-6">
          <!-- Title and Tag -->
          <div class="flex">
            <h4
              class="mb-4 text-3xl max-w-xl font-chillax font-bold tracking-tight leading-none text-dark md:text-4xl lg:text-4xl text-left justify-self-start dark:text-gray-100">
              Product Photography
            </h4>
            <span
              class="inline-flex rounded-xl justify-between font-chillax items-center py-1 px-4 h-8 text-sm bg-primary font-medium text-white justify-self-end">
              HOT
            </span>
          </div>
          <p class="text-dark dark:text-gray-100">Crafting your brand identity involves defining your mission, values,
            and
            visual elements to create a cohesive and memorable presence.</p>
          <div
            class="text-xl max-w-xl p-6 font-bold tracking-tight text-dark absolute inset-x-0 bottom-0 dark:text-gray-100">
            <a href="#_"
              class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-dark transition duration-300 ease-out border-2 border-white rounded-full shadow-md group dark:text-gray-100 dark:border-gray-100">
              <span
                class="absolute inset-0 flex items-center justify-center w-full h-full text-dark duration-300 -translate-x-full bg-transparent group-hover:translate-x-0 ease dark:text-gray-100">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3">
                  </path>
                </svg>
              </span>
              <span
                class="absolute flex items-center justify-center w-full h-full text-dark transition-all duration-300 transform group-hover:translate-x-full ease dark:text-gray-100">
                Read More
              </span>
              <span class="relative invisible">Read More</span>
            </a>
          </div>
        </div>
      </div>

      <div
        class="w-full md:w-2/3 h-96 rounded-2xl relative bg-gradient-to-l from-red-50 via-teal-50 to-gray-100 dark:from-slate-900 dark:via-slate-800 dark:to-slate-900 shadow-lg shadow-gray-300 dark:shadow-primary">
        <div class="grid grid-cols-1 justify-items-stretch px-6 py-6">
          <!-- Title and Tag -->
          <div class="flex justify-between">
            <h4
              class="mb-4 text-3xl max-w-xl font-bold tracking-tight font-chillax leading-none text-dark md:text-4xl lg:text-4xl text-left justify-self-start dark:text-gray-100">
              Email Marketing
            </h4>
            <span
              class="inline-flex rounded-xl justify-between items-center py-1 px-4 mb-7 text-sm bg-primary font-medium text-white justify-self-end">
              HOT
            </span>
          </div>
          <p class="text-dark max-w-xl dark:text-gray-100">We’re all humans, right? So why spam crappy emails written by
            CHATGPT? Cloud 9
            believes in the power of genuine connection. That's why we write personalized emails filled with
            emotion and personality, so you can build real relationships with your audience and drive
            meaningful engagement.</p>

          <div
            class="text-xl max-w-xl p-6 font-bold tracking-tight text-dark absolute inset-x-0 bottom-0 dark:text-gray-100">
            <a href="#_"
              class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-dark transition duration-300 ease-out border-2 border-white rounded-full shadow-md group dark:text-gray-100 dark:border-gray-100 ">
              <span
                class="absolute inset-0 flex items-center justify-center w-full h-full text-dark duration-300 -translate-x-full bg-transparent group-hover:translate-x-0 ease dark:text-gray-100">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3">
                  </path>
                </svg>
              </span>
              <span
                class="absolute flex items-center justify-center w-full h-full text-dark transition-all duration-300 transform group-hover:translate-x-full ease dark:text-gray-100">
                Read More
              </span>
              <span class="relative invisible">Read More</span>
            </a>
          </div>
        </div>
      </div>

      <div
        class="w-full md:w-1/3 h-96 rounded-2xl relative bg-gradient-to-tr from-red-50 via-teal-50 to-red-100 dark:from-slate-900 dark:via-slate-900 dark:to-slate-800 shadow-lg shadow-gray-300 dark:shadow-indigo-800">
        <div class="grid grid-cols-1 justify-items-stretch px-6 py-6">
          <!-- Title and Tag -->
          <div class="flex justify-between">
            <h4
              class="mb-4 text-3xl max-w-xl font-bold tracking-tight font-chillax leading-none text-dark md:text-4xl lg:text-4xl text-left justify-self-start dark:text-gray-100">
              Website development
            </h4>
            <span
              class="inline-flex rounded-xl justify-between items-center py-1 px-4 mb-20 text-sm bg-primary font-medium text-white justify-self-end">
              HOT
            </span>
          </div>
          <p class="text-dark dark:text-gray-100">Crafting your brand identity involves defining your mission, values,
            and
            visual elements to create a cohesive and memorable presence.</p>

          <div
            class="text-xl max-w-xl p-6 font-bold tracking-tight text-dark absolute inset-x-0 bottom-0 dark:text-gray-100">
            <a href="/web-development"
              class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-dark transition duration-300 ease-out border-2 border-white rounded-full shadow-md group dark:text-gray-100 dark:border-gray-100">
              <span
                class="absolute inset-0 flex items-center justify-center w-full h-full text-dark duration-300 -translate-x-full bg-transparent group-hover:translate-x-0 ease dark:text-gray-100">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3">
                  </path>
                </svg>
              </span>
              <span
                class="absolute flex items-center justify-center w-full h-full text-dark transition-all duration-300 transform group-hover:translate-x-full ease dark:text-gray-100">
                Read More
              </span>
              <span class="relative invisible">Read More</span>
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="flex justify-center py-12">
      <a href="/contact" class="relative group group-hover:active-cursor inline-block text-lg group">
        <span
          class="relative z-10 block px-5 py-3 overflow-hidden font-medium leading-tight text-gray-800 dark:text-gray-100 transition-colors duration-300 ease-out border-2 border-gray-900 dark:border-gray-600 rounded-lg group-hover:text-black dark:group-hover:text-white">
          <span
            class="absolute inset-0 w-full h-full px-5 py-3 rounded-lg bg-gradient-to-r from-white via-stone-50 to-stone-200 dark:from-gray-700 dark:via-gray-800 dark:to-gray-900"></span>
          <span
            class="absolute left-0 w-48  h-48 -ml-2 transition-all duration-300 origin-top-right -rotate-90 -translate-x-full translate-y-12 bg-gradient-to-r from-white via-stone-50 to-stone-200 dark:from-black dark:via-primary dark:to-black group-hover:-rotate-180 ease"></span>
          <span class="relative">View all services</span>
        </span>
        <span
          class="absolute bottom-0 right-0 w-full h-12 -mb-1 -mr-1 transition-all duration-200 ease-linear bg-gradient-to-r from-black via-stone-800 to-stone-700 dark:from-primary dark:via-rose-600 dark:to-secondary rounded-lg group-hover:mb-0 group-hover:mr-0"
          data-rounded="rounded-lg"></span>
      </a>
    </div>
  </div>
</section>