{{ define "main" }}
<main>

    {{ partial "hero3.html" . }}

    {{ partial "what-we-do.html" . }}

    {{ partial "who-are-we.html" . }}

    {{ partial "physical-business.html" . }}

    {{ partial "enterprise-outsource.html" . }}

    {{ partial "elevate-your-brand.html" . }}

    {{ partial "outsourcing.html" . }}

    {{ partial "metrics.html" . }}

    <section id="case-study-section">
        {{ partial "case-study.html" . }}
    </section>

    {{ partial "linking-section.html" . }}

    <!-- {{ partial "animated-gallery.html" . }} -->

    {{ partial "technologies.html" . }}

    {{ partial "cta.html" . }}

    {{ partial "home-post-section.html" . }}

</main>
<!-- <script src="{{ .Site.BaseURL }}assets/js/stickyscroll.js"></script> -->


{{ end }}